In [46]:
import pandas as pd
df = pd.read_csv (r'/home/yupaporn/CCA_Project/UICCA_DiagRadioExp_AzureDb.csv')
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,P ID,Site ID,date,originalImage,Path Full,FileName,Class,Sub_class_name,Sub_class,Path Crop,Path Crop_I7
0,0,0,0,0,12150,13777,11/10/2021,1.2.392.200039.110.1.109018720.10.20211011.134...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12150_1.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
1,1,1,1,1,12150,13777,11/10/2021,1.2.392.200039.110.1.109018720.10.20211011.134...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12150_2.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
2,2,2,2,2,12150,13777,11/10/2021,1.2.392.200039.110.1.109018720.10.20211011.134...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12150_3.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
3,3,3,3,3,12150,13777,11/10/2021,1.2.392.200039.110.1.109018720.10.20211011.134...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12150_4.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
4,4,4,4,4,12150,13777,11/10/2021,1.2.392.200039.110.1.109018720.10.20211011.134...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12150_5.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,808,808,808,808,12285,13777,27/10/2021,1.2.392.200039.110.1.109018960.10.20211027.151...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12285_11.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
809,809,809,809,809,12285,13777,27/10/2021,1.2.392.200039.110.1.109018960.10.20211027.151...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12285_12.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
810,810,810,810,810,12285,13777,27/10/2021,1.2.392.200039.110.1.109018960.10.20211027.151...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12285_13.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
811,811,811,811,811,12285,13777,27/10/2021,1.2.392.200039.110.1.109018960.10.20211027.151...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12285_14.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
812,812,812,812,812,12285,13777,27/10/2021,1.2.392.200039.110.1.109018960.10.20211027.151...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12285_15.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...

In [47]:
set(df['Sub_class_name'])

{"['Gallbladderpolyp']",
 "['Gallbladderstone']",
 "['MildFattyLiver']",
 "['ModerateFattyLiver', 'RenalCyst']",
 "['ModerateFattyLiver']",
 "['Normal']",
 "['PDF1']",
 "['PDF2', 'Livermass']",
 "['RenalCyst']",
 "['RenalParenchymalChange']",
 "['SevereFattyLiver']"}

In [48]:
set(df['Sub_class'])

{"['AB01']",
 "['AB02', 'AB11']",
 "['AB02']",
 "['AB03']",
 "['AB05']",
 "['AB06', 'AB081']",
 "['AB09']",
 "['AB10']",
 "['AB11']",
 "['Normal']"}

In [49]:
# df[df['P ID'] == 12279] = df[df['P ID'] == 12279].replace({'Sub_class': {"['AB010']": "['AB10']"}})

In [50]:
df[['Sub_class','Sub_class_name','P ID']].groupby(by=['Sub_class','Sub_class_name']).count()

                                                       P ID
Sub_class         Sub_class_name
['AB01']          ['MildFattyLiver']                    156
['AB02', 'AB11']  ['ModerateFattyLiver', 'RenalCyst']    14
['AB02']          ['ModerateFattyLiver']                 28
['AB03']          ['SevereFattyLiver']                   13
['AB05']          ['PDF1']                               33
['AB06', 'AB081'] ['PDF2', 'Livermass']                  13
['AB09']          ['Gallbladderstone']                   13
['AB10']          ['Gallbladderpolyp']                   27
['AB11']          ['RenalCyst']                          16
                  ['RenalParenchymalChange']             29
['Normal']        ['Normal']                            471

In [51]:
# df.to_csv('/home/yupaporn/CCA_Project/UICCA_DiagRadioExp_AzureDb.csv')

# à¸£à¸²à¸¢à¹€à¸„à¸ª

In [52]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,P ID,Site ID,date,originalImage,Path Full,FileName,Class,Sub_class_name,Sub_class,Path Crop,Path Crop_I7
0,0,0,0,0,12150,13777,11/10/2021,1.2.392.200039.110.1.109018720.10.20211011.134...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12150_1.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
1,1,1,1,1,12150,13777,11/10/2021,1.2.392.200039.110.1.109018720.10.20211011.134...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12150_2.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
2,2,2,2,2,12150,13777,11/10/2021,1.2.392.200039.110.1.109018720.10.20211011.134...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12150_3.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
3,3,3,3,3,12150,13777,11/10/2021,1.2.392.200039.110.1.109018720.10.20211011.134...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12150_4.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
4,4,4,4,4,12150,13777,11/10/2021,1.2.392.200039.110.1.109018720.10.20211011.134...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12150_5.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,808,808,808,808,12285,13777,27/10/2021,1.2.392.200039.110.1.109018960.10.20211027.151...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12285_11.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
809,809,809,809,809,12285,13777,27/10/2021,1.2.392.200039.110.1.109018960.10.20211027.151...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12285_12.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
810,810,810,810,810,12285,13777,27/10/2021,1.2.392.200039.110.1.109018960.10.20211027.151...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12285_13.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
811,811,811,811,811,12285,13777,27/10/2021,1.2.392.200039.110.1.109018960.10.20211027.151...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12285_14.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...
812,812,812,812,812,12285,13777,27/10/2021,1.2.392.200039.110.1.109018960.10.20211027.151...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort/12...,12285_15.jpg,Normal,['Normal'],['Normal'],/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...,/media/tohn/SSD/ImageFromAzureDB_IsanCohort_cr...

In [53]:
class_ = ['AB01', 'AB02','AB03','AB04','AB05','AB06','AB07','AB081','AB082','AB083','AB09','AB10','AB11','AB12','Normal']

col_name = ['Case', 'Sub_class', 'Sub_class_name', 'Num_Case']
dff2 = pd.DataFrame(columns = col_name)

df_ = df

case = list(set(df_['P ID']))
pred_label = []
num_case = []
act_label = []

for i in case:
    cas_pred = list(df_[df_['P ID'] == i]['Sub_class'])
    cas_act = list(df_[df_['P ID'] == i]['Sub_class_name'])
    pred_label.append(cas_pred[0])
    act_label.append(cas_act[0])
    num_case.append(len(cas_pred))

dff2['Sub_class'] = pred_label
dff2['Case'] = case
dff2['Num_Case'] = num_case
dff2['Sub_class_name'] = act_label  

dff2

     Case          Sub_class                       Sub_class_name  Num_Case
0    6668   ['AB02', 'AB11']  ['ModerateFattyLiver', 'RenalCyst']        14
1    6798         ['Normal']                           ['Normal']        12
2    7725           ['AB01']                   ['MildFattyLiver']        13
3    6446           ['AB09']                 ['Gallbladderstone']        13
4   12215         ['Normal']                           ['Normal']        17
5   12216         ['Normal']                           ['Normal']        12
6   12217         ['Normal']                           ['Normal']        17
7   12218         ['Normal']                           ['Normal']        25
8   12219         ['Normal']                           ['Normal']        22
9   12220         ['Normal']                           ['Normal']        15
10  12221           ['AB01']                   ['MildFattyLiver']        22
11  12222           ['AB02']               ['ModerateFattyLiver']        12
12  12285         ['Normal']                           ['Normal']        15
13   6600           ['AB01']                   ['MildFattyLiver']        20
14   6472  ['AB06', 'AB081']                ['PDF2', 'Livermass']        13
15  12279           ['AB10']                 ['Gallbladderpolyp']        14
16   7895           ['AB10']                 ['Gallbladderpolyp']        13
17  12248         ['Normal']                           ['Normal']        16
18  12280         ['Normal']                           ['Normal']        14
19   6621           ['AB01']                   ['MildFattyLiver']        33
20   6624           ['AB05']                             ['PDF1']        33
21  12282         ['Normal']                           ['Normal']        14
22  12259           ['AB01']                   ['MildFattyLiver']        11
23  12260         ['Normal']                           ['Normal']        12
24  12261           ['AB02']               ['ModerateFattyLiver']        16
25  12262         ['Normal']                           ['Normal']        13
26  12263           ['AB11']           ['RenalParenchymalChange']        15
27  12264           ['AB01']                   ['MildFattyLiver']        15
28  12265           ['AB03']                 ['SevereFattyLiver']        13
29  12266         ['Normal']                           ['Normal']        12
30  12283         ['Normal']                           ['Normal']        14
31  12284         ['Normal']                           ['Normal']        16
32  12269         ['Normal']                           ['Normal']        14
33  12270         ['Normal']                           ['Normal']        14
34  12271         ['Normal']                           ['Normal']        15
35   6640           ['AB11']                        ['RenalCyst']        16
36  12273         ['Normal']                           ['Normal']        12
37  12274         ['Normal']                           ['Normal']        14
38  12275           ['AB01']                   ['MildFattyLiver']        14
39  12276         ['Normal']                           ['Normal']        14
40  12277         ['Normal']                           ['Normal']        14
41  12150         ['Normal']                           ['Normal']        18
42  12151         ['Normal']                           ['Normal']        18
43  12152         ['Normal']                           ['Normal']        18
44  12281         ['Normal']                           ['Normal']        14
45  12154         ['Normal']                           ['Normal']        16
46  12155         ['Normal']                           ['Normal']        18
47  12156         ['Normal']                           ['Normal']        14
48   6525         ['Normal']                           ['Normal']        12
49  12158           ['AB01']                   ['MildFattyLiver']        28
50   7039           ['AB11']           ['RenalParenchymalChange']        14

In [55]:
import numpy as np
dff2['Num_Case'].mean()

15.941176470588236

In [56]:
dff2['Num_Case'].max()

33

In [57]:
dff2['Num_Case'].min()

11

In [40]:
dff2[['Sub_class','Sub_class_name','Case']].groupby(by=['Sub_class','Sub_class_name']).count()

                                                       Case
Sub_class         Sub_class_name
['AB01']          ['MildFattyLiver']                      8
['AB02', 'AB11']  ['ModerateFattyLiver', 'RenalCyst']     1
['AB02']          ['ModerateFattyLiver']                  2
['AB03']          ['SevereFattyLiver']                    1
['AB05']          ['PDF1']                                1
['AB06', 'AB081'] ['PDF2', 'Livermass']                   1
['AB09']          ['Gallbladderstone']                    1
['AB10']          ['Gallbladderpolyp']                    2
['AB11']          ['RenalCyst']                           1
                  ['RenalParenchymalChange']              2
['Normal']        ['Normal']                             31