In [1]:
import pandas as pd
import numpy as np
df0 = pd.read_csv (r'/home/yupaporn/codes/USAI/Data_tagName_Final.csv')
df = df0[(df0['Path Crop']!='None' )&(df0['Path Crop']!='Nan')]
df = df[(df['fold']!=1)&(df['fold']!=2)]
df = df.drop(['Unnamed: 0'], axis=1)
Abnormal = df[df['Class'] == 'Abnormal']
Normal = df[df['Class'] == 'Normal']
print('Total : ',len(df))
print('Abnormal : ',len(Abnormal))
print('Normal : ',len(Normal))

Total :  5257
Abnormal :  1823
Normal :  3434

In [2]:
values = {'Sub_class_New': 'Normal'}
df =df.fillna(value=values)

In [3]:
conf_mat = pd.crosstab(df['Views'],df['Sub_class_New'],rownames=['5-FP Class'],colnames=['15AB Class'])
conf_mat

15AB Class,AB01,AB02,AB03,AB04,AB05,AB06,AB07,AB081,AB082,AB083,AB09,AB10,AB11,AB12,Normal
5-FP Class,,,,,,,,,,,,,,,
FP-A,84,109,42,84,34,59,2,22,21,8,0,0,0,0,596
FP-B,130,101,26,37,60,5,51,57,48,23,2,0,0,0,1063
FP-C,81,59,21,38,4,0,21,45,40,12,96,43,60,0,1015
FP-D,0,0,0,3,0,0,0,0,0,0,0,0,161,134,482
FP-E,0,0,0,0,0,0,0,0,0,0,0,0,0,0,278

## 1 .Column Normalization

In [6]:
from sklearn import preprocessing

In [7]:
print(set(df['Sub_class_New']))

{'Normal', 'AB05', 'AB07', 'AB03', 'AB06', 'AB04', 'AB01', 'AB10', 'AB083', 'AB11', 'AB02', 'AB12', 'AB081', 'AB09', 'AB082'}

In [8]:
ab =['AB01','AB02','AB03','AB04','AB05','AB06','AB07','AB081','AB082','AB083','AB09','AB10','AB11','AB12','Normal']
# ABlist = list()
ABlist = []
for i in ab:
    AB = conf_mat[i].tolist()
    AB = preprocessing.normalize([AB])[0].tolist()
    if i == 0 :
        ABlist = AB
    else:
        ABlist= ABlist+AB
        
ABarray= np.asarray(ABlist).reshape(15,5)
ABarray = ABarray.transpose()

In [9]:
ABarray

array([[0.48084861, 0.68174284, 0.78248796, 0.84517137, 0.49218537,
        0.9964283 , 0.03623807, 0.28992579, 0.31858433, 0.29468379,
        0.        , 0.        , 0.        , 0.        , 0.35459748],
       [0.74417047, 0.63170667, 0.48439731, 0.37227786, 0.86856242,
        0.08444308, 0.92407076, 0.75117137, 0.72819274, 0.84721589,
        0.02082881, 0.        , 0.        , 0.        , 0.63244484],
       [0.46367545, 0.36901677, 0.39124398, 0.38233943, 0.05790416,
        0.        , 0.38049972, 0.59303003, 0.60682729, 0.44202568,
        0.99978306, 1.        , 0.34920923, 0.        , 0.60388666],
       [0.        , 0.        , 0.        , 0.03018469, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.93704478, 1.        , 0.28677179],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.1653995 ]])

## 2. Softmax Row

In [10]:
from scipy.special import softmax

In [11]:
reslist = []
for i in range(5):
    result = softmax(ABarray[i])
    print(result)
    reslist.append(result)
result = np.asarray(reslist).reshape(5,15)

[0.07041178 0.08607808 0.0952019  0.10136049 0.07121456 0.1179122
 0.04513915 0.05817396 0.05986526 0.05845141 0.04353268 0.04353268
 0.04353268 0.04353268 0.06206048]
[0.08260808 0.07382103 0.06370954 0.05695235 0.09355032 0.04270774
 0.09888996 0.08318844 0.08129868 0.0915745  0.04007553 0.03924943
 0.03924943 0.03924943 0.07387554]
[0.06519637 0.05930806 0.06064107 0.06010349 0.04345094 0.04100641
 0.05999301 0.07419958 0.07523042 0.06380006 0.1114428  0.11146698
 0.05814487 0.04100641 0.07500952]
[0.05366686 0.05366686 0.05366686 0.05531147 0.05366686 0.05366686
 0.05366686 0.05366686 0.05366686 0.05366686 0.05366686 0.05366686
 0.13698075 0.14588164 0.0714907 ]
[0.06587674 0.06587674 0.06587674 0.06587674 0.06587674 0.06587674
 0.06587674 0.06587674 0.06587674 0.06587674 0.06587674 0.06587674
 0.06587674 0.06587674 0.07772562]

In [12]:
result

array([[0.07041178, 0.08607808, 0.0952019 , 0.10136049, 0.07121456,
        0.1179122 , 0.04513915, 0.05817396, 0.05986526, 0.05845141,
        0.04353268, 0.04353268, 0.04353268, 0.04353268, 0.06206048],
       [0.08260808, 0.07382103, 0.06370954, 0.05695235, 0.09355032,
        0.04270774, 0.09888996, 0.08318844, 0.08129868, 0.0915745 ,
        0.04007553, 0.03924943, 0.03924943, 0.03924943, 0.07387554],
       [0.06519637, 0.05930806, 0.06064107, 0.06010349, 0.04345094,
        0.04100641, 0.05999301, 0.07419958, 0.07523042, 0.06380006,
        0.1114428 , 0.11146698, 0.05814487, 0.04100641, 0.07500952],
       [0.05366686, 0.05366686, 0.05366686, 0.05531147, 0.05366686,
        0.05366686, 0.05366686, 0.05366686, 0.05366686, 0.05366686,
        0.05366686, 0.05366686, 0.13698075, 0.14588164, 0.0714907 ],
       [0.06587674, 0.06587674, 0.06587674, 0.06587674, 0.06587674,
        0.06587674, 0.06587674, 0.06587674, 0.06587674, 0.06587674,
        0.06587674, 0.06587674, 0.06587674, 0.06587674, 0.07772562]])