In [84]:
import pandas as pd
import numpy as np
df0 = pd.read_csv (r'/home/yupaporn/codes/USAI/Data_tagName_Final.csv')
df = df0[(df0['Path Crop']!='None' )&(df0['Path Crop']!='Nan')]
df = df[(df['fold']!=1)&(df['fold']!=2)]
df = df.drop(['Unnamed: 0'], axis=1)
Abnormal = df[df['Class'] == 'Abnormal']
Normal = df[df['Class'] == 'Normal']
print('Total : ',len(df))
print('Abnormal : ',len(Abnormal))
print('Normal : ',len(Normal))

Total :  5257
Abnormal :  1823
Normal :  3434

In [85]:
values = {'Sub_class_New': 'Normal'}
df =df.fillna(value=values)

In [86]:
conf_mat = pd.crosstab(df['Views'],df['Sub_class_New'],rownames=['5-FP Class'],colnames=['15AB Class'])
conf_mat

15AB Class,AB01,AB02,AB03,AB04,AB05,AB06,AB07,AB081,AB082,AB083,AB09,AB10,AB11,AB12,Normal
5-FP Class,,,,,,,,,,,,,,,
FP-A,84,109,42,84,34,59,2,22,21,8,0,0,0,0,596
FP-B,130,101,26,37,60,5,51,57,48,23,2,0,0,0,1063
FP-C,81,59,21,38,4,0,21,45,40,12,96,43,60,0,1015
FP-D,0,0,0,3,0,0,0,0,0,0,0,0,161,134,482
FP-E,0,0,0,0,0,0,0,0,0,0,0,0,0,0,278

# 1 .หาร MAX

In [87]:
FP_ = []
for j in range(5) :
    FP = list(conf_mat.iloc[j,:][0:14])
    max_ = max(FP)
    fp = []
    if j == 4:
        fp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,1,1]
        FP_.append(fp)
    else:
        for i in FP:
            fp.append(i/max_)
        fp.append(1)
        FP_.append(fp)

In [88]:
FP = np.array(FP_)
FP

array([[0.7706422 , 1.        , 0.3853211 , 0.7706422 , 0.31192661,
        0.5412844 , 0.01834862, 0.20183486, 0.19266055, 0.0733945 ,
        0.        , 0.        , 0.        , 0.        , 1.        ],
       [1.        , 0.77692308, 0.2       , 0.28461538, 0.46153846,
        0.03846154, 0.39230769, 0.43846154, 0.36923077, 0.17692308,
        0.01538462, 0.        , 0.        , 0.        , 1.        ],
       [0.84375   , 0.61458333, 0.21875   , 0.39583333, 0.04166667,
        0.        , 0.21875   , 0.46875   , 0.41666667, 0.125     ,
        1.        , 0.44791667, 0.625     , 0.        , 1.        ],
       [0.        , 0.        , 0.        , 0.01863354, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.83229814, 1.        ],
       [1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ]])

# 2.  1:0

In [82]:
FP_ = []
for j in range(5) :
    FP = list(conf_mat.iloc[j,:][0:14])
    num = 10
    if j == 4:
        fp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,1,1]
        FP_.append(fp)
    else:
        fp = []
        for i in FP:
            if  i == 0:
                fp.append(0)
            elif i >= 10:
                fp.append(1)
#             else:
            elif i < 10:
                fp.append(0.5)
            fp.append(1)
        FP_.append(fp)

In [83]:
FP = np.array(FP_)
FP

array([list([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 1, 1, 1, 1, 1, 0.5, 1, 0, 1, 0, 1, 0, 1, 0, 1]),
       list([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 1, 0, 1, 0, 1, 0, 1]),
       list([1, 1, 1, 1, 1, 1, 1, 1, 0.5, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1]),
       list([0, 1, 0, 1, 0, 1, 0.5, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1]),
       list([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])], dtype=object)

In [58]:
FP_ = []
for j in range(5) :
    FP = list(conf_mat.iloc[j,:][0:14])
    num = 10
    fp = []
    if j == 4:
        fp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,1,1]
        FP_.append(fp)
    else:
        for i in FP:
            if (i < num) & (i != 0):
                fp.append(0.5)
            elif i >= num:
                fp.append(1)
            elif i == 0:
                fp.append(0)
            fp.append(1)
        FP_.append(fp)

In [ ]:
FP_ = []
for j in range(5) :
    FP = list(conf_mat.iloc[j,:][0:14])
    max_ = max(FP)
    fp = []
    if j == 4:
        fp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,1,1]
        FP_.append(fp)
    else:
        for i in FP:
            fp.append(i/max_)
        fp.append(1)
        FP_.append(fp)